.gridContainer{
    display:grid;
    text-align: center;
    background-color:green;
    grid-template-columns: auto auto auto;
    grid-gap:20px;


}


.container{
    text-align: center;
    background-color: darkolivegreen;
    padding:100px;

}

.display-3{
    text-align: center;
    
}



.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .5s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.MenuList{
    position: absolute;
    margin-left: 41%;
}

.nav-link{
    color: rgb(255, 255, 255);
    z-index: 9999;
    position: relative;

    
}

.nav-link-active{
    color: rgb(255, 255, 255);    
    z-index: 9999;   
    position: relative;
    
  
    
}





.Logo{
    position:absolute;
    z-index:2;
    display: block;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 4%;
  
}








