.gridContainer{
    display:grid;
    text-align: center;
    background-color:green;
    grid-template-columns: auto auto auto;
    grid-gap:20px;


}


.container{
    text-align: center;
    background-color: darkolivegreen;
    padding:100px;

}

.display-3{
    text-align: center;
    
}

.Heading-carousel{
    position: absolute; top: 0;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .5s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.Menu{
    background-color:gray;
    color: white;
}

.nav-link{
    color: white;
}

.nav-link-active{
    color: white;
}







