.list-unstyled{
    display:inline-block;
    padding-left:40px ;
    padding-right:40px ;
    padding-top:80px;
}

footer{
    
    background: linear-gradient( #c2d93f,#a3a09e);
    padding:50px;
}

footer div{
    text-align: center;
}


footer div ul li img{
    transition: transform 1.3s;
}

footer div ul li img:hover{
    transform:scale(2)

}

footer h6{
    font-family:monospace;
    font-size:23px;
}

.display-3{
    text-align: center;
    
}

.display-1{
    margin-top: 20px;
    margin-bottom: 50px;
}

.nav-link{
    margin-top: 20px;
    font-size: large;
    font-weight: 400;
    color: black;
  }

body{
    margin:0;
    background:linear-gradient(#c2d93f,black,black);
}

nav{
    margin-bottom:100px;
}


.menuList{
    background:linear-gradient(black,#c2d93f);
}

h1{
    text-align: center;
}


.galleryContainer{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:3px;
    padding:30px;
    overflow: hidden;
    background:linear-gradient(black,#c2d93f,black);
 
    
    

}


.galleryContainer img{
    transition: transform 1s;
    overflow: hidden;
    width:100%;
    height:100%;
    object-fit: cover;
    width:300px;
    height:500px;

}


.galleryContainer img:hover{
    transform:scale(1.1)
}

.imgSpanCol{
    grid-column:span 2;
    overflow: hidden;
    
}

.imageSpanRow{
    grid-row:span 2;
    overflow: hidden;
}

#spanImg{
    align-items:stretch;
    width:100%;
}


@media only screen and (max-width:991px){
    .galleryContainer{
        display:grid;
        grid-template-columns: auto auto auto;

    }
}


@media only screen and (max-width:767px){
    .galleryContainer{
        display:grid;
        grid-template-columns: auto auto;

    }
}