
.navbar { font-family: 'Roboto' !important;
    background-color: #333; /* Black background color */
    position: absolute; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */

    transition: top 0.3s;
    
     /* Transition effect when sliding down (and up) */ }






#navbar ul li a{
    color:white;
    font-size: 25px;
    font-family: 'Roboto';
}

.carousel-content {
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 5%;
    z-index: 20;
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
  }

html{ scroll-behavior: smooth; }

.display-3{
    text-align: center;
    font-family: 'Roboto';
}


.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .3s;
    font-family: 'Roboto';
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
    font-family: 'Roboto';
}







.carousel-control-prev{
    width: 1%;
    font-family: 'Roboto';
}
.carousel-control-next{
    width: 1%;
    font-family: 'Roboto';
}



.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    font-family: 'Roboto';
  }


.Takeaway{
    text-align: center;

    padding-bottom:100px;

    background:#c2d93f;

    padding-bottom:300px;
    background-color:white;

    font-family: 'Roboto';
    background:url(../images/wave2.svg);
    background-position:left; 
    background-repeat:no-repeat;
    background-size:cover;

}

#buttonTakeaway{
    text-align: center;
    width:210px;
    height:210px;
    border-radius: 100px 100px 100px;
    font-family: 'Roboto';
}

#buttonVisit{
    text-align: center;
    width:210px;
    height:210px;
    border-radius: 100px 100px 100px;
    font-family: 'Roboto';
}

#buttonFunctions{
    text-align: center;
    width:210px;
    height:210px;
    border-radius: 100px 100px 100px;
    font-family: 'Roboto';
}

#iconWifi{
    width:50px;
    height:50px;
    font-family: 'Roboto';
}

#iconCoffee{
    margin-top:5px;
    width:50px;
    height:50px;
    font-family: 'Roboto';
}

#whatsappLogo{
    margin-top:5px;
    width:50px;
    height:50px;
    font-family: 'Roboto';
}

#functions{
    margin-top:5px;
    width:50px;
    height:50px;
    font-family: 'Roboto';
}



.about{
    font-family: 'Roboto'; 
    text-align: center;
    padding:40px;
    background: linear-gradient(#c2d93f ,white 3%); 
    background:url(../images/wave.svg);
    background-position:left; 
    background-repeat:no-repeat;
    background-size:cover;

    

}


.containerAbout{
    text-align: center;
    font-family: 'Roboto';
}

.containerAbout img{
    width:100%;
    height:100%;
    font-family: 'Roboto';
    
}

#borderOne{
    border-style: solid;
    border-width: 2px;
    border-color: #c2d93f;
    background-color: white;
    font-family: 'Roboto';
}

#borderTwo{
    border-style: solid;
    border-width: 2px;
    border-color: #c2d93f;
    background-color: white;
    font-family: 'Roboto';
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'Roboto';
}
  
.gallery{
    padding-top:200px;
    padding-bottom:100px;

    background-color:#c2d93f;
    font-family: 'Roboto';

    background:linear-gradient(#29A4C3 50%,#c2d93f 50%);

}

.galleryContainer{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap:3px;
    padding:30px;
    overflow: hidden;
    font-family: 'Roboto';
    

}

.galleryContainer img{
    transition: transform 1s;
    overflow: hidden;
    width:300px;
    height:300px;
    font-family: 'Roboto';
}

.galleryContainer img:hover{
    transform:scale(1.1);
    font-family: 'Roboto';
}

.container img{
    transition: transform 1s;
    overflow: hidden;
    font-family: 'Roboto';
}

.container img:hover{
    transform:scale(1.5);
    font-family: 'Roboto';
}

.container{
    text-align: center;
    /* background-color: #c2d93f; */
    background: url(../images/pexels-karolina-grabowska-4705933.jpg) no-repeat;
    background-size: cover;
    padding:100px;
    padding-bottom:150px;
    font-family: 'Roboto';
}

.backgroundOfContainer{
    background-image: url("/images/Fish-Hoek-beach.jpeg");
    background:linear-gradient(#a3a09e,#29A4C3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: 'Roboto';
}

.container h3{
    padding-top:30px;
    font-family: 'Roboto';
}

#containerHeading{
    padding-bottom: 100px;
    font-family: 'Roboto';
}

.col-sm-4{
    border-radius: 30px;
    font-family: 'Roboto';
}

#rowTwo{
    margin-top:50px;
}
#rowThree{
    margin-top:50px;
    text-align: center;
    
}

.ul .li{
    display:inline-block;
    padding-left:40px ;
    padding-right:40px ;
    list-style: none;
    padding-top: 80px;
    font-family: 'Roboto';
}

ul li a{
    color: #000;
    font-family: 'Roboto';
}





footer{
    font-family: 'Roboto';
    /* background: linear-gradient( #c2d93f,#a3a09e); */
    padding:50px;
}

footer div{
    text-align: center;
    font-family: 'Roboto';
}


footer div ul li img{
    transition: transform 1.3s;
    font-family: 'Roboto';
}

footer div ul li img:hover{
    transform:scale(2);
    font-family: 'Roboto';
}

footer h6{
    font-family:monospace;
    font-size:23px;
    font-family: 'Roboto';
}

.credits{
    margin-top: 70px;
    font-family: 'Roboto';
    background:url(../images/a.svg);
    background-position:right; 
    background-repeat:no-repeat;
    background-size:cover;
}



@media only screen and (max-width:10000px){
    #carouselImgOne{
        size: cover;     
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        size: cover;
        font-family: 'Roboto';
    }
    #carouselImg{
        size: cover;
        font-family: 'Roboto';
    }

     .Logo{
        position:absolute;
        z-index:2;
        display: block;
      margin-left: 40%;
      margin-right: auto;
      margin-top: 8%;
      
    }
    .navbar{
        padding: .5rem 1rem;
        background:transparent;
        color: #000;  
        font-family: 'Roboto';
    }
     
    .navbar-brand{
        font-size: 1rem;
        font-weight: 400;
        color: #000;   
    }    
    
    .nav-item1{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:25px;
        color: #000;    
    }
    .nav-item2{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:40px; 
        color: #000;   
    }
    .nav-item3{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;   
        color: #000;
    }
    .nav-item4{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px; 
        color: #000;   
    }
    .nav-item5{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;   
        color: #000;
    }
    .nav-item6{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;
        color: #000;
    }
    
}

@media only screen and (max-width:2600px){
    #carouselImgOne{
        size: cover;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        size: cover;
        font-family: 'Roboto';
    }
    #carouselImg{
        size: cover;
        font-family: 'Roboto';
    }
     .Logo{
        position:absolute;
        z-index:2;
        display: block;
      margin-left: 40%;
      margin-right: auto;
      margin-top: 10%;
      
    }
    .navbar{
        padding: .5rem 1rem;
        background:transparent;
        color: #000;  
        font-family: 'Roboto';
    }
     
    .navbar-brand{
        font-size: 1rem;
        font-weight: 400;  
        color: #000; 
    }    
    
    .nav-item1{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:25px; 
        color: #000;   
    }
    .nav-item2{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:40px; 
        color: #000;   
    }
    .nav-item3{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px; 
        color: #000;  
    }
    .nav-item4{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px; 
        color: #000;   
    }
    .nav-item5{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;   
        color: #000;
    }
    .nav-item6{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;
        color: #000;
    }
}

@media only screen and (max-width:2000px){
    #carouselImgOne{
        size: cover;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        size: cover;
        font-family: 'Roboto';
    }
    #carouselImg{
        size: cover;
        font-family: 'Roboto';
    }
     .Logo{
        position:absolute;
        z-index:2;
        display: block;
      margin-left: 40%;
      margin-right: auto;
      margin-top: 10%;
      
    }
    .navbar{
        padding: .5rem 1rem;
        background:transparent;
        color: #000;  
        font-family: 'Roboto';
    }
     
    .navbar-brand{
        font-size: 1rem;
        font-weight: 400;
        color: #000;   
    }    
    
    .nav-item1{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:25px; 
        color: #000;   
    }
    .nav-item2{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:40px;  
        color: #000;  
    }
    .nav-item3{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px; 
        color: #000;  
    }
    .nav-item4{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;   
        color: #000; 
    }
    .nav-item5{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px; 
        color: #000;  
    }
    .nav-item6{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;
        color: #000;
    }
    

}

@media only screen and (max-width:1752px){
    #carouselImgOne{
        size: cover;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        size: cover;
        font-family: 'Roboto';
    }
    #carouselImg{
        size: cover;
        font-family: 'Roboto';
    }
     .Logo{
        position:absolute;
        z-index:2;
        display: block;
        margin-left: 42%;
        margin-right: auto;
        
        max-width:20%;
        height:auto;
    }
    .navbar{
        padding: .5rem 1rem;
        background:transparent;
        color: #000;  
        font-family: 'Roboto';
    }
     
    .navbar-brand{
        font-size: 1rem;
        font-weight: 400;  
        color: #000; 
    }    
    
    .nav-item1{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:25px;   
        color: #000; 
    }
    .nav-item2{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:40px;   
        color: #000; 
    }
    .nav-item3{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;   
        color: #000;
    }
    .nav-item4{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;    
        color: #000;
    }
    .nav-item5{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;   
        color: #000;
    }
    .nav-item6{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;
        color: #000;
    }
}
@media only screen and (max-width:1622px){
    #carouselImgOne{
        size: cover;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        size: cover;
        font-family: 'Roboto';
    }
    #carouselImg{
        size: cover;
        font-family: 'Roboto';
    }
     .Logo{
        position:absolute;
        z-index:2;
        display: block;
        margin-left: 42%;
        margin-right: auto;
        margin-top: 150px;
        max-width:20%;
        height:auto;
    }
    .navbar{
        padding: .5rem 1rem;
        background:transparent;
        color: #000; 
        font-family: 'Roboto'; 
    }
     
    .navbar-brand{
        font-size: 1rem;
        font-weight: 400; 
        color: #000;  
    }    
    
    .nav-item1{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:25px;
        color: #000;    
    }
    .nav-item2{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:40px;    
        color: #000;
    }
    .nav-item3{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;   
        color: #000;
    }
    .nav-item4{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px; 
        color: #000;   
    }
    .nav-item5{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px; 
        color: #000;  
    }
    .nav-item6{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;
        color: #000;
    }
}
@media only screen and (max-width:1376px){
    #carouselImgOne{
        size: cover;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        size: cover;
        font-family: 'Roboto';
    }
    #carouselImg{
        size: cover;
        font-family: 'Roboto';
    }
     .Logo{
        position:absolute;
        z-index:2;
        display: block;
        margin-left: 42%;
        margin-right: auto;
        
        max-width:20%;
        height:auto;
    }
    .navbar{
        padding: .5rem 1rem;
        background:transparent;
        color: #000;
        font-family: 'Roboto';
    }
     
    .navbar-brand{
        font-size: 1rem;
        font-weight: 400;  
        color: #000; 
    }    
    
    .nav-item1{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:25px;  
        color: #000;  
    }
    .nav-item2{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:40px;  
        color: #000;  
    }
    .nav-item3{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;  
        color: #000; 
    }
    .nav-item4{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;
        color: #000;    
    }
    .nav-item5{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;   
        color: #000;
    }
    .nav-item6{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;
        color: #000;
    }
}

@media only screen and (max-width:1331px){
    #carouselImgOne{
        size: cover;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        size: cover;
        font-family: 'Roboto';
    }
    #carouselImg{
        size: cover;
        font-family: 'Roboto';
    }
}

@media only screen and (max-width:991px){
    .galleryContainer{
        display:grid;
        grid-template-columns: auto auto;
   
        
    }
    #carouselImgOne{
        height:750px;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        height:750px;
        font-family: 'Roboto';
    }
}

@media only screen and (max-width:700px){
    #carouselImgOne{
        height:750px;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        height:750px;
        font-family: 'Roboto';
    }
    .Logo{
        position:absolute;
        z-index:2;
        display: block;
        margin-left: 42%;
        margin-right: auto;
        margin-top: 100px;
        max-width:20%;
        height:auto;
    }
    .navbar{
        padding: .5rem 1rem;
        background:transparent;
        color: #000;  
        font-family: 'Roboto';
    }
     
    .navbar-brand{
        font-size: 1rem;
        font-weight: 400; 
        color: #000;  
    }    
    
    .nav-item1{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:25px; 
        color: #000;   
    }
    .nav-item2{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:40px;
    
        color: #000;    
    }
    .nav-item3{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px; 
        color: #000;  
    }
    .nav-item4{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;    
        color: #000;
    }
    .nav-item5{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px; 
        color: #000;  
    }
    .nav-item6{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;
        color: #000;
    }
}
@media only screen and (max-width:400px){
    #carouselImgOne{
        height:750px;
        font-family: 'Roboto';
    }
    
    #carouselImgTwo{
        height:750px;
        font-family: 'Roboto';
    }
    .Logo{
        position:absolute;
        z-index:2;
        display: block;
        margin-left: 42%;
        margin-right: auto;
        margin-top: 75px;
        max-width:20%;
        height:auto;
    }
    .navbar{
        padding: .5rem 1rem;
        background:transparent;
        color: #000; 
        font-family: 'Roboto'; 
    }
     
    .navbar-brand{
        font-size: 1rem;
        font-weight: 400; 
        color: #000;  
    }    
    
    .nav-item1{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:25px; 
        color: #000;   
    }
    .nav-item2{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:40px; 
        color: #000;   
    }
    .nav-item3{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px;  
        color: #000; 
    }
    .nav-item4{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:50px; 
        color: #000;   
    }
    .nav-item5{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;   
        color: #000;
    }
    .nav-item6{
        font-size: 1rem;
        font-weight: 400; 
        margin-right:20px;
        color: #000;
    }
}
